
.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(24, 189, 164);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.middleContainer{
    background-color: white;
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 2px;
    margin-top: -30px;
    border-radius: 10px;
}
h3{
    margin-top: 15px;
}
.middleContainer form h1{
    font-size: 30px;
    color: rgb(142, 18, 107);
}
.regButton{
    width: 254px;
    height: 40px;
    background-color: rgb(53, 154, 53);
    border: none;
}